//import my custom settings and everything foundation has
@use 'sass:map';

@import 'motion-ui';
@include motion-ui-transitions;
@include motion-ui-animations;

@import 'settings';
@import 'foundation';
@include foundation-everything;

.top-bar a {
        color: $dark-gray;
        &:hover {
                color: $black;
                text-decoration: underline;
        }
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.accordion-title {
        color: $black;
        text-decoration: none;
        &:hover {
                color: $black;
                text-decoration: underline;
        }
        &:focus {
                color: $black;
                text-decoration: none;
        }
}
