//import my custom settings and everything foundation has
@use 'sass:map';

@import 'motion-ui';
@include motion-ui-transitions;
@include motion-ui-animations;

@import 'settings';
@import 'foundation';
@include foundation-everything;

.top-bar a {
        color: $dark-gray;
        &:hover {
                color: $black;
                text-decoration: underline;
        }
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.accordion-title {
        color: $black;
        text-decoration: none;
        &:hover {
                color: $black;
                text-decoration: underline;
        }
        &:focus {
                color: $black;
                text-decoration: none;
        }
}

#main-about {
	order: 2;
}

#main-headshot {
	order: 1;
}

@media print, screen and (min-width: 64em) {
	#main-about {
		order: 1;
	}

	#main-headshot {
		order: 2;
	}
}

.callout:has(#main-about) {
	--callout-margin-fix: 0.5rem;
	margin-right: var(--callout-margin-fix);
	margin-left: var(--callout-margin-fix);
}

@media print, screen and (min-width: 40em) {
	.callout:has(#main-about) {
		--callout-margin-fix: 0;
	}
}

.title-bar {
	margin-bottom: 0.5rem;
}
